.grid_template_2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}

.container_chamada {
  grid-column: span 6;
  padding-top: 5%;
}

.container_chamada .chamada_box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 2em 0;
}

.container_chamada .chamada_box img {
  width: 35%;
  border-radius: 10px;
}

.container_chamada .chamada_box .content_chamada {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.container_chamada .chamada_box .content_chamada h4 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  color: purple;
}

.container_chamada .chamada_box .content_chamada h2 {
  font-size: 24px;
  font-weight: 800;
  color: #585858;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 26px;
  max-height: 60%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-transform: unset;
}

.container_chamada .chamada_box .content_chamada p {
  color: #707070;
  font-size: 10px;
}

.container_chamada .chamada_box .content_chamada .temp_leitura {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.container_chamada .chamada_box .content_chamada .temp_leitura span {
  width: 4px;
  height: 4px;
  background-color: #707070;
  border-radius: 50%;
}
